---
import PageLayout from "@/layouts/Base";
import { Image } from "@astrojs/image/components";
import aboutImg from "../assets/about-astro.png";

const meta = {
	title: "About",
	description: "I'm a starter theme for Astro",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>Hi I’m Emil Privér. Software developer from Varberg, Sweden.</p>
		<p>
			My works is mainly focused on backend and architecture. But also intersted
			in AI. Most of the stuffs I do at the moment is for e-commerce as that is
			most what I do for work.
		</p>
		<p>
			I love to explore the tech world, Love reading about tech and explore
			code, systems and stuffs in general.
		</p>
		<p>
			Now I’m a developer at <a href="https://zimpler.com" target="_blank"
				>Zimpler
			</a> in Gothenburg, Sweden.
		</p>
		<div class="flex justify-center">
			<Image src={aboutImg} alt="A cartoon cactus looking at 'Astro.build' logo"
			/>
		</div>
	</div>
</PageLayout>
